{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'extraction' %}" class="btn btn-primary">Go somewhere</a>

    </div>
  </div>

  <div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">title 2</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'summarization' %}" class="btn btn-primary">Go somewhere</a>

    </div>
  </div>

  {% endblock %}