{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header">Text extraction</div>
    <div class="card-body">
      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere placeat labore ipsam debitis voluptas molestias error earum, quos consequuntur blanditiis cum incidunt eum dolor id rem fugit repellat! Perspiciatis.</h5>
      <p class="card-text"></p>
      <a href="{% url 'extraction' %}" class="btn btn-primary">Try it</a>

    </div>
  </div>
  <div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header">Text Summerization</div>
    <div class="card-body">
      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere placeat labore ipsam debitis voluptas molestias error earum, quos consequuntur blanditiis cum incidunt eum dolor id rem fugit repellat! Perspiciatis.</h5>
      <p class="card-text"></p>
      <a href="{% url 'summarization' %}" class="btn btn-primary">Try it</a>

    </div>
  </div>

 

  {% endblock %}