<footer>
    <div class="bg-accent mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-lg-left text-center">
            <p class="text-white">Copyright © 2022 connectingdots.com. All rights reserved.</p>
          </div>

          <div class="col-sm-6 text-lg-right text-center">
              
          <a class="btn btn-light " href="{% url 'contact' %}">Contact us</a>


              <div>

                <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button>
                <button class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </button>
                <button class="btn btn-accent"> <i class="fab fa-twitter fa-lg	"></i> </button>
                <button class="btn btn-accent"> <i class="fab fa-youtube fa-lg	"></i> </button>
    
              </div>


            </button>
            
          </div>
          

        </div>
      </div>
    </div>
  
  </footer>