<header class="header ">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 header-info">
          <a href="mailto:info@ytubers.com" class="mr-3">info@connectingdots.com</a>
          <span>Call at: +91 7220094195 </span>
        </div>
        <div class="header-buttons col-md-6 d-flex justify-content-end">
          {% if user.is_authenticated %}

          <button class="btn btn-accent dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown">Welcome, <b
                            style="text-transform: lowercase;">{{ user.username }} </b>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
          
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">

          <a class="btn btn-primary dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="btn btn-primary dropdown-item " href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
          {% else %}


          <a class="btn btn-accent mr-3" href="{% url 'login' %}">Signin</a>
          <a class="btn btn-accent " href="{% url 'signup' %}">SignUp</a>

          {% endif %}

        </div>
      </div>
    </div>
  </header>
