{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'includes/messages.html' %}



<main class="tubers-page">
  <div class="banner">
    <img src="{% static './assets/images/banner.jpeg' %}" alt="" class="img-fluid w-100">
    <h1 class="text-center">
      File conversion
    </h1>
  </div>

<section class="container mt-5 mb-5">
      <div class="row ">
        <div class="col-lg-8 mb-2 ">
          <section class="tubers">



            <!-- person 1 -->
            <div class="card border-0 text-center">
              <div class="feature-text">
                <img src="{% static './assets/images/pdftojpg.png' %}" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Pdf2Img </h5>
                <p class="card-text">Convert PDF to Image free and get access to a suite of other useful conversion tools, all
                  while keeping your data safe and secure. </p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"><a href="{%url 'pdftoimg' %}"> try it</a></button>
                 
                </div>
               
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center">
              <div class="feature-text">
                <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Img2PDF</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe optio a impedit consequuntur nulla quibusdam, aperiam sequi voluptas odit hic dolorem accusantium doloremque. Adipisci id nihil architecto nostrum dicta nesciunt.</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"><a href="{%url 'imgtopdf'%}"> Try it</a></button>
                  
                </div>
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center">
              <div class="feature-text">
                <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">MergePdf</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolore accusantium error mollitia, soluta ut delectus quo quisquam quas repudiandae natus velit fugit dolorem dolor eligendi fuga nam perspiciatis. Consequuntur!</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"> try it </button>
                
                </div>
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center">
                <div class="feature-text">
                  <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                  <span class="text-left bg-accent font-weight-bold">
                    Featured
                  </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Image compression</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolore accusantium error mollitia, soluta ut delectus quo quisquam quas repudiandae natus velit fugit dolorem dolor eligendi fuga nam perspiciatis. Consequuntur!</p>
                  <div class="person-description mt-2">
                    <button class="btn btn-accent"> try it </button>
                  
                  </div>
                </div>
              </div>
              
          </section>
        </div>


{% endblock %}