{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
  

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'pdftoimg' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.pdf_file.label_tag }} {{ form.pdf_file.help_text }}</p>
        <p>
            {{ form.pdf_file.errors }}
            {{ form.pdf_file }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>

</body>

{% endblock %}