{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/about.jpg'%}" alt="" class="img-fluid w-100">
      <h1 class="text-center" style="color: black;">
        About Us
      </h1>
    </div>
    <section class="container mt-5 mb-5">
      <div class="row mt-5">
        <div class="col-md-4">
          <img src="{% static './assets/images/we.jpeg'%}" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 animate__animated animate__fadeInRight">
          <h2 class="text-center">About Project</h2>
          <p>Connecting-dots is a user trustable platform that provides free and secure services to transform
            the data in various formats like converting JPG to PDF, PDF to JPG, Merging multiple PDFs ,
            Image Compression, etc. With the use of machine learning, this platform provides various textbased processing, text extraction, text summarization, and document processing which
            eliminates so much manual work and saves time.
          </p>
        </div>
      </div>
     
    </section>

    <section class="container mt-3">
      <h3 class="text-center">Our Amazing Team</h3>
      <p class="pt-2 pb-3 text-center">Meet the team</p>
      <div class="team slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>

        <!-- team 1 -->
        <div class="card border-0 text-center  ml-3 mr-3">
          <img src="{% static './assets/images/kush.jpeg'%}" class="card-img-top" alt="team-member-image">
          <div class="card-body">
            <h5 class="card-title">Rajat Khatri</h5>
            <p class="card-text">Backend Developer</p>
            <a href="http://rajatkhatri.me/" class="btn btn-accent btn-block">Profile</a>
            <div class="text-center mt-2">
              <button class="btn btn-accent" > <a href="https://www.linkedin.com/in/rajatkhatri/"><i class="fab fa-linkedin-in fa-lg 	" > </i> </a></button>
            </div>
          </div>
        </div>


        <!-- team 1 -->
        <div class="card border-0 text-center  ml-3 mr-3">
          <img src="{% static './assets/images/sur.jpeg'%}" class="card-img-top" alt="team-member-image">
          <div class="card-body">
            <h5 class="card-title">Suryanshu Deo Shah</h5>
            <p class="card-text">Backend Developer</p>
            <a href="#" class="btn btn-accent btn-block">Profile</a>
            <div class="text-center mt-2">
              <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button>
              <button class="btn btn-accent"> <i class="fab fa-linkedin-in fa-lg	"></i> </button>
            </div>
          </div>
        </div>


        <!-- team 1 -->
        <div class="card border-0 text-center  ml-3 mr-3">
          <img src="{% static './assets/images/aman.jpeg'%}" class="card-img-top" alt="team-member-image">
          <div class="card-body">
            <h5 class="card-title">Aman Kumar</h5>
            <p class="card-text">Frontend Developer</p>
            <a href="#" class="btn btn-accent btn-block">Profile</a>
            <div class="text-center mt-2">
              <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button>
              <button class="btn btn-accent"> <i class="fab fa-linkedin-in fa-lg	"></i> </button>
            </div>
          </div>
        </div>


        <!-- team 1 -->
        <div class="card border-0 text-center ml-3 mr-3">
          <img src="{% static './assets/images/vivek.jpeg'%}" class="card-img-top" alt="team-member">
          <div class="card-body">
            <h5 class="card-title">Vivek Kumar</h5>
            <p class="card-text">Backend Developer</p>
            <a href="#" class="btn btn-accent btn-block">Profile</a>
            <div class="text-center mt-2">
              <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button>
              <button class="btn btn-accent"> <i class="fab fa-linkedin-in fa-lg	"></i> </button>
            </div>
          </div>
        </div>

        <div class="card border-0 text-center ml-3 mr-3">
          <img src="{% static './assets/images/dhee.jpeg'%}" class="card-img-top" alt="team-member">
          <div class="card-body">
            <h5 class="card-title">Dheeraj kumar</h5>
            <p class="card-text">Frontend Developer</p>
            <a href="#" class="btn btn-accent btn-block">Profile</a>
            <div class="text-center mt-2">
              <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"> </i> </button>
              <button class="btn btn-accent"> <i class="fab fa-linkedin-in fa-lg	"> </i> </button>
            </div>
          </div>
        </div>
        

      </div>

      <div class="controls d-flex justify-content-center mt-2 mb-2">
        <div class="d-flex">
          <i class="fa fa-angle-left team-left"></i>
          <i class="fa fa-angle-right team-right"></i>
        </div>
      </div>
    </section>
  </main>

{% endblock %}