{% extends 'base.html' %}

{% load static %}

{% block content %}


<main class="contact-us">
    <div class="banner">
      <img src="{% static " alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>

    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50">
        hi, {{ user.username }}. Hope you are having a good day
      </h4>

      <div class="table-responsive- mt-3">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">File name</th>
              <th scope="col">Download</th>
              <th scope="col">delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>file1</td>
              <td>                <div class="btn btn-accent">Download </div>
              </td>
              <td>
                <div class="btn btn-accent">Delete </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>file2</td>
              <td><div class="btn btn-accent">Download </div></td>
              <td>
                <div class="btn btn-accent">Delete </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>file 3</td>
              <td><div class="btn btn-accent">Download </div></td>
              <td>
                <div class="btn btn-accent">Delete</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>
  </main>




{% endblock %}