{% extends 'base.html' %}

{% load static %}


{% block content %}



{% include 'includes/messages.html' %}




<main class="login container">
    <h1 class="text-center mt-5 mb-5 animate__animated animate__slideInDown">
      Forget Password
    </h1>
    <div class="row">
      <div class="col-md-6 ">
        <img src="{% static './assets/images/forget_password.png' %}" class="img-fluid" alt="img">
      </div>
      <form method="POST" class="col-md-5 offset-1" > 
        {% csrf_token %}

        <div class="form-group">
          <input name="username" class="form-control" placeholder="UserName">
        </div>
      
        <div class="form-group">
            <input name="old_password" type="password" class="form-control" placeholder="Old Password">
          </div>
          <div class="form-group">
            <input name="new_password" type="password" class="form-control" placeholder="New Password">
          </div>

          <div class="form-group">
            <input name="confirm_password" type="password" class="form-control" placeholder="confirm Password">
          </div>

        <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Confirm Changes</button>
        <div class="text-center">
          OR
        </div>
        <p class="w-100 mt-3">Don't have an account? <a href="{% url 'signup' %}"> Create an account</a>.</p>

      </form>
    </div>
  </main>








{% endblock %}