
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'includes/messages.html' %}


  <!-- header end -->
  <main class="tubers-page">
    <div class="banner">
      <img src="{% static './assets/images/home.jpeg'%}" alt="" class="img-fluid w-100">
     
    </div>


    <section class="container mt-5 mb-5">
      <div class="row ">
        <div class="col-lg-8 mb-2 ">
          <section class="tubers">



            <!-- person 1 -->
            <div class="card border-0 text-center" style="width: 40rem ;align-items:center;">
              <div class="feature-text">
                <img src="{%static './assets/images/txt.jpeg' %}" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Text extraction</h5>
                <p class="card-text">Performs text detection using OpenCV’s EAST text detector, a highly accurate deep learning text detector used to detect text in natural scene images.
                  Once we have detected the text regions with OpenCV, we’ll then extract each of the text ROIs and pass them into Tesseract, enabling us to build an entire OpenCV OCR pipeline!</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"><a href="{% url 'extraction' %}"> Try it</a> </button>
                 
                </div>
               
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center" style="width: 40rem ;align-items:center;">
              <div class="feature-text">
                <img src="{%static './assets/images/extr.jpeg' %}" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Text Summerization</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe optio a impedit consequuntur nulla quibusdam, aperiam sequi voluptas odit hic dolorem accusantium doloremque. Adipisci id nihil architecto nostrum dicta nesciunt.</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"><a href="{% url 'summerization_home' %}"> Try it</a></button>
                  
                </div>
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center" style="width: 40rem ;align-items:center;">
              <div class="feature-text">
                <img src="{%static './assets/images/pdftojpg.png' %}" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body" >
                <h5 class="card-title">Pdf to Image Conversion</h5>
                <p class="card-text">Convert PDF to Image free and get access to a suite of other useful conversion tools, all
                  while keeping your data safe and secure</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"> <a href="{% url 'pdftoimg' %}"> Try it</a> </button>
                
                </div>
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center" style="width: 40rem ;align-items:center;">
                <div class="feature-text">
                  <img src="{%static './assets/images/jpg_pdf.png' %}" class="card-img-top" alt="team-member">
                  <span class="text-left bg-accent font-weight-bold">
                    Featured
                  </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Image to pdf Conversion</h5>
                  <p class="card-text">Convert Images to PDF free and get access to a suite of other useful conversion tools, all
                    while keeping your data safe and secure.!</p>
                  <div class="person-description mt-2">
                    <button class="btn btn-accent"> <a href="{% url 'imgtopdf' %}"> Try it</a> </button>
                  
                  </div>
                </div>
              </div>
              <div class="card border-0 text-center"style="width: 40rem ;align-items:center;" >
                <div class="feature-text">
                  <img src="{%static './assets/images/merging.png' %}" class="card-img-top" alt="team-member">
                  <span class="text-left bg-accent font-weight-bold">
                    Featured
                  </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Merge pdfs</h5>
                  <p class="card-text">PDF merger is the best solution for combining two or more PDF files for free while keeping
                    your data safe and secure.</p>
                  <div class="person-description mt-2">
                    <button class="btn btn-accent"> <a href="http://127.0.0.1:5000/"> Try it</a></button>
                  
                  </div>
                </div>
              </div>


              <div class="card border-0 text-center" style="width: 40rem ;align-items:center;">
                <div class="feature-text">
                  <img src="{%static './assets/images/image _compression .png' %}" class="card-img-top" alt="team-member">
                  <span class="text-left bg-accent font-weight-bold">
                    Featured
                  </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Image compression</h5>
                  <p class="card-text">PDF merger is the best solution for combining two or more PDF files for free while keeping
                    your data safe and secure.</p>
                  <div class="person-description mt-2">
                    <button class="btn btn-accent"> <a href="{% url 'imgcompression' %}"> Try it</a></button>
                  
                  </div>
                </div>
              </div>
          </section>
        </div>


{% endblock %}