
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'includes/messages.html' %}


  <!-- header end -->
  <main class="tubers-page">
    <div class="banner">
      <img src="./assets/images/bg-banner.png" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        HOME
      </h1>
    </div>


    <section class="container mt-5 mb-5">
      <div class="row ">
        <div class="col-lg-8 mb-2 ">
          <section class="tubers">



            <!-- person 1 -->
            <div class="card border-0 text-center">
              <div class="feature-text">
                <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Text extraction</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, beatae! Sit nesciunt alias accusantium necessitatibus id! Repudiandae autem libero rerum, cum, blanditiis facere vel repellendus iusto iste ut nesciunt est?</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"><a href="{% url 'extraction' %}"> Try it</a> </button>
                 
                </div>
               
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center">
              <div class="feature-text">
                <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Text Summerization</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe optio a impedit consequuntur nulla quibusdam, aperiam sequi voluptas odit hic dolorem accusantium doloremque. Adipisci id nihil architecto nostrum dicta nesciunt.</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"><a href="{% url 'summerization_home' %}"> use it</a></button>
                  
                </div>
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center">
              <div class="feature-text">
                <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                <span class="text-left bg-accent font-weight-bold">
                  Featured
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Service3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolore accusantium error mollitia, soluta ut delectus quo quisquam quas repudiandae natus velit fugit dolorem dolor eligendi fuga nam perspiciatis. Consequuntur!</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"> use it </button>
                
                </div>
              </div>
            </div>
            <!-- person 1 -->
            <div class="card border-0 text-center">
                <div class="feature-text">
                  <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                  <span class="text-left bg-accent font-weight-bold">
                    Featured
                  </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Service2</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolore accusantium error mollitia, soluta ut delectus quo quisquam quas repudiandae natus velit fugit dolorem dolor eligendi fuga nam perspiciatis. Consequuntur!</p>
                  <div class="person-description mt-2">
                    <button class="btn btn-accent"> use it </button>
                  
                  </div>
                </div>
              </div>
              <div class="card border-0 text-center">
                <div class="feature-text">
                  <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="team-member">
                  <span class="text-left bg-accent font-weight-bold">
                    Featured
                  </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Service2</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolore accusantium error mollitia, soluta ut delectus quo quisquam quas repudiandae natus velit fugit dolorem dolor eligendi fuga nam perspiciatis. Consequuntur!</p>
                  <div class="person-description mt-2">
                    <button class="btn btn-accent"> use it </button>
                  
                  </div>
                </div>
              </div>
          </section>
        </div>


{% endblock %}